@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center; /* Aqui trata do alinhamento da imagem de fundo*/
    background-size: cover; /* Aqui serve para que cubra a tela inteira*/
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Essas linhas de cima fazem com que a caixa do celular fique centralizada no meio da tela, é necessário que a caixa de fora (main) possua o posicionamento relativo */
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat ;    /* Nessa linha adcionei a imagem do telefone, a tag "no repeat" impede que a imagem do telefone se repita */
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box; /* Essa tag me ajuda na interatividade do hover, pois não permite que as caixas das redes sociais se mexam quando o mouse passe por cima de cada uma*/
}

section#redes-sociais img:hover{
    border: 2px solid white; /* Essa configuração é para quando o mouse passar pelo ícone o ícone fique mais interativo*/
}